/* ---------------------------------- */

/* ------------- DEFAULT SETUP --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ---------------------------------- */

/* -------REUSABLE COMPOMENT-------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
}
.btn:hover, .btn:active {
    background-color: #d35400;
    transition: 1s;
}
h2 {
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
h2::after {
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(230, 126, 34, 0.5);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.about-description {
    text-align: center;
    margin: 0 auto;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
}
section {
    padding: 50px;
}
/* --------------------------------- */

/*----------- HEADER---------- */
header {
    background-image: linear-gradient(  45deg,  rgba(79, 111, 138, 0.8),  rgb(100, 158, 156)  ),  url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.logo {
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}
.main-nav li {
    display: inline;
    margin-right: 30px;
}
.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    padding: 3px 0px;
}
.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #cccccc;
}
.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}
h1 {
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}
/*--------------------------------------------*/

/* ----------- ABOUT SECTIONN ------------ */

.picture-about {
    position: relative;
    cursor: pointer;
}
.picture-about img {
    transition: all 0.4s;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(83, 83, 83, 0.5);
    transition: all .5s;
	
}
.picture-title {
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: all .5s;
	
}
.picture-about:hover img{
	filter: blur(5px);
}
.picture-about:hover .picture-title {
	transform: translate(-50%,-50%);
	opacity: 1;
	
}
